.form{


     &__input{
        font-size: 1.6rem;
        font-family: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color:rgba($color-white, .5);
        color: $color-text-grey-dark; 
        border: none;
        border-bottom: 2px solid transparent;
        display: block;
        width: 90%;

        
    }

    &__input:focus{

        outline: none;
        box-shadow: 0 2rem 3rem rgba($color-black, 0.1);
        border-bottom: 2px solid $color-primary;
        
    }

   

    &__label{
       
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: -5rem;
        transition: all .3s;
       
    }


    &__input:placeholder-shown + &__label
    {
        opacity: 0;
        visibility: hidden;
       

    }

    &__radio-group{
        width: 49%;
        display: inline-block;

    }

    &__radio-label{

        font-size: $default-font-size;
        text-transform: capitalize;
        cursor: pointer;

        @include respond(tab-pot){
            color: $color-primary;
        }
       
    }

    

    
}
